body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #faf8ef;
  color: #776e65;
}

#game-board {
  width: 400px;
  height: 400px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  background: #bbada0;
  padding: 10px;
  border-radius: 10px;
}

.tile {
  width: 90px;
  height: 90px;
  background: #cdc1b4;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
}
